* {
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    #8f00b3,
    #cc00ff,
    #d11aff,
    #e580ff,
    #eb99ff
  );
  padding-bottom: 200px;
}
